<!DOCTYPE html>
<html>
<head>
  <title>Teachers timetable</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="padding-top: 40px;">

  <h1 style="text-align: center;">Vandana Sudhakar Sardar</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_1 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>

  <h1 style="text-align: center;">Aparna R.</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_2 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>

  <h1 style="text-align: center;">Sanjeetha R.</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_3 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>

  <h1 style="text-align: center;">Hanumantha Raju R.</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_4 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Mr. Shreekant Jere</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_5 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Dr. Jagadish S. Kallimani</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_6 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Bheemappa Halavar</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_7 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Dr. Shilpa Shashikant Chaudhari</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_8 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Dr. Geetha J.</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_9 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>

  <h1 style="text-align: center;">Chandrika Prasad</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_11 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Mrs. Sini Anna Alex</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_12 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Meeradevi A. K.</h1>
 
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_13 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Pramod Sunagar</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_14 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Sowmya B. J.</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_15 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <br>
  <h1 style="text-align: center;">Shreen</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_17 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Dr. T.N.R.Kumar</h1>

  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>          
        </tr>
      </thead>
    {% for cell in teacher_TT_19 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
  <h1 style="text-align: center;">Mamatha Jadhav V</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_22 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>

  <h1 style="text-align: center;">Dr. S. Rajarajeswari</h1>
  <table border = 1 style="width: 80%; margin: auto;" class="table table-dark table-hover table-striped">
    <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">First Period</th>
          <th scope="col">Second Period</th>
          <th scope="col">Third Period</th>
          <th scope="col">Fourth Period</th>
          <th scope="col">Fifth Period</th>
          <th scope="col">Sixth Period</th>
          <th scope="col">Seventh Period</th>
          
        </tr>
      </thead>
    {% for cell in teacher_TT_24 %}
    <tr>
      <td scope="col"> {{cell[7]}} </td>
      <td scope="col"> {{cell[0]}} </td>
      <td scope="col"> {{cell[1]}} </td>
      <td scope="col"> {{cell[2]}} </td>
      <td scope="col"> {{cell[3]}} </td>
      <td scope="col"> {{cell[4]}} </td>
      <td scope="col"> {{cell[5]}} </td>
      <td scope="col"> {{cell[6]}} </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <br>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>
